- modal ||= false
- remote = modal ? true : false
.form-horizontal
  = form_for(@project, remote: true) do |f|
    - if @project.errors.any?
      #error_explanation
        %h2
          = pluralize(@project.errors.count, "error")
          prohibited this person from being saved:
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      .control-label.col-sm-2.control-label
        = f.label "Назва"
      .col-sm-10
        = f.text_field :name, class: 'form-control', placeholder: "Назва"
    .form-group
      .control-label.col-sm-2.control-label
        = f.label "Опис"
      .col-sm-10
        = f.text_area :description, class: 'form-control', placeholder: "Опис"
    .form-group
      .control-label.col-sm-2.control-label
        = f.label "Тип роботи"
      .col-sm-10
        = f.collection_select(:type_of_work_id, @typeOfWorks, :id, :task_type, {:prompt => true}, {:class => "form-control"})
    .form-group
      .control-label.col-sm-2.control-label
        = f.label "Автор теми"
      .col-sm-10
        = f.collection_select(:origin_id, @origins, :id, :source, {:prompt => true}, {:class => "form-control"})
    .actions
      = f.submit 'Submit', class: 'btn btn-default'