.panel.panel-default
  / Default panel contents
  .panel-heading Поточні проекти
  .panel-body
    = render 'projects/new'
    = render 'projects/control_panel'
  / Table
  %table.table
    %thead
      %tr
        %th №
        %th Name
        %th Team
        %th Progress
        %th Created At

    %tbody
    - @projects.each do |project|
      %tr
        %th= project.id
        %td= link_to project.name, project
        %td Team 1
        %td= project.last_progress
        %td= project.updated_at